X_CONSUMER_KEY=''
X_CONSUMER_SECRET=''
X_ACCESS_TOKEN=''
X_ACCESS_TOKEN_SECRET=''

# Residential proxy for airports that block this host's datacenter IP. SEA
# always needs it; ATL uses it only if its direct request is challenged.
# Format: http://login:password@host:port
SCRAPE_PROXY_URL=''
